.font--dm-serif-display {
  font-family: var(--font-family-dm-serif-display); /* Headings */
}

.font--karla {
  font-family: var(--font-family-karla); /* Body */
}

.font-size--1rem {
  font-size: 1rem;
}

.font-weight--400 {
  font-weight: var(--font-weight-400);
}

.font-weight--700 {
  font-weight: var(--font-weight-700);
}
