:root {
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --neutral-black: hsl(0, 0%, 0%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --font-family-dm-serif-display: "DM Serif Display", serif; /* Headings */
  --font-family-karla: "Karla", sans-serif; /* Body */
  --font-weight-400: 400;
  --font-weight-700: 700;
}
